*
  margin 0
  padding 0

.page
  width 1000px
  height 500px
  background-color #aaa
  .wrapper
    width 500px
    height 500px
    background-color green
    margin 0 auto
    .name
      p
        color red
        font-size 30px
    .sex

